CONFIG_IDF_TARGET="esp32c3"
CONFIG_TWAI_ISR_IN_IRAM=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Board-verified orientation
CONFIG_ZDT_CAN_TX_GPIO=7
CONFIG_ZDT_CAN_RX_GPIO=6
CONFIG_ZDT_MOTOR_ADDR=1
CONFIG_ZDT_CAN_BAUDRATE=500000
